.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.directory, .file {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.directory>img, .file>img{
    height: 50px;
   
}

.directory>*, .file>*{
    padding: 0;
    margin: 0;
    }

.directory{
    color : blue;
}

.file{
    color: green;
}